@import 'tailwindcss';
/* @import '@neondatabase/neon-js/ui/tailwind'; */
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';
@import '@fontsource-variable/figtree';

@custom-variant dark (&:is(.dark *));

:root {
  --harakeke-50: lch(99 1 56);
  --harakeke-100: lch(95 9 56);
  --harakeke-150: lch(89 18 54);
  --harakeke-200: lch(85 26 53);
  --harakeke-250: lch(80 37 52);
  --harakeke-300: lch(75 48 51);
  --harakeke-350: lch(70 58 51);
  --harakeke-400: lch(65 65 51);
  --harakeke-450: lch(60 70 51);
  --harakeke-500: lch(55 71 50);
  --harakeke-550: lch(50 69 49);
  --harakeke-600: lch(45 64 48);
  --harakeke-650: lch(40 60 47);
  --harakeke-700: lch(35 56 47);
  --harakeke-750: lch(30 52 47);
  --harakeke-800: lch(25 46 47);
  --harakeke-850: lch(20 40 44);
  --harakeke-900: lch(15 33 42);
  --harakeke-950: lch(10 25 35);
  --harakeke-1000: lch(5 16 27);

  --makara-50: lch(99 1 144);
  --makara-100: lch(95 8 142);
  --makara-150: lch(90 17 141);
  --makara-200: lch(85 24 141);
  --makara-250: lch(80 32 141);
  --makara-300: lch(75 38 140);
  --makara-350: lch(70 44 140);
  --makara-400: lch(65 48 140);
  --makara-450: lch(60 50 139);
  --makara-500: lch(55 49 139);
  --makara-550: lch(50 47 139);
  --makara-600: lch(45 44 139);
  --makara-650: lch(40 40 139);
  --makara-700: lch(35 37 139);
  --makara-750: lch(30 33 139);
  --makara-800: lch(25 30 139);
  --makara-850: lch(20 27 138);
  --makara-900: lch(15 23 139);
  --makara-950: lch(10 17 143);
  --makara-1000: lch(5 9 143);

  --cecil-50: lch(97 3 106);
  --cecil-100: lch(95 5 105);
  --cecil-150: lch(90 4 105);
  --cecil-200: lch(85 4 105);
  --cecil-250: lch(80 4 104);
  --cecil-300: lch(75 4 104);
  --cecil-350: lch(70 4 104);
  --cecil-400: lch(65 3 110);
  --cecil-450: lch(60 3 102);
  --cecil-500: lch(55 2 100);
  --cecil-550: lch(50 2 100);
  --cecil-600: lch(45 2 100);
  --cecil-650: lch(40 2 97);
  --cecil-700: lch(35 2 97);
  --cecil-750: lch(30 1 110);
  --cecil-800: lch(25 1 110);
  --cecil-850: lch(20 1 75);
  --cecil-900: lch(15 1 110);
  --cecil-950: lch(10 1 110);
  --cecil-1000: lch(5 0 0);
}

:root {
  --background: oklch(1 0 0);
  --foreground: var(--cecil-900);
  --card: var(--background);
  --card-foreground: var(--foreground);
  --popover: var(--background);
  --popover-foreground: var(--foreground);
  --primary: var(--harakeke-650);
  --primary-foreground: var(--harakeke-100);
  --secondary: var(--color-harakeke-100);
  --secondary-foreground: var(--color-harakeke-700);
  --muted: var(--cecil-50);
  --muted-foreground: var(--cecil-550);
  --accent: var(--color-harakeke-350);
  --accent-foreground: var(--color-harakeke-1000);
  --destructive: oklch(0.577 0.245 27.325);
  --border: var(--cecil-150);
  --input: var(--cecil-150);
  --ring: var(--color-harakeke-300);
  --chart-1: var(--color-harakeke-700);
  --chart-2: var(--color-harakeke-600);
  --chart-3: var(--color-harakeke-500);
  --chart-4: var(--color-harakeke-400);
  --chart-5: var(--color-harakeke-300);
  --radius: 0.875rem;
  --sidebar: var(--muted);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
}

.dark {
  --background: var(--cecil-1000);
  --foreground: var(--cecil-50);
  --card: var(--background);
  --card-foreground: var(--foreground);
  --popover: var(--background);
  --popover-foreground: var(--foreground);
  --primary: var(--color-harakeke-300);
  --primary-foreground: var(--color-harakeke-850);
  --secondary: var(--color-harakeke-850);
  --secondary-foreground: var(--color-harakeke-250);
  --muted: var(--color-cecil-900);
  --muted-foreground: var(--color-cecil-450);
  --accent: var(--color-harakeke-350);
  --accent-foreground: var(--color-harakeke-1000);
  --destructive: oklch(0.704 0.191 22.216);
  --border: var(--cecil-800);
  --input: var(--cecil-800);
  --ring: var(--color-harakeke-700);
  --chart-1: var(--color-harakeke-250);
  --chart-2: var(--color-harakeke-350);
  --chart-3: var(--color-harakeke-450);
  --chart-4: var(--color-harakeke-550);
  --chart-5: var(--color-harakeke-650);
  --sidebar: var(--muted);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
}

@theme inline {
  --font-sans: 'Figtree Variable', sans-serif;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --color-harakeke-50: var(--harakeke-50);
  --color-harakeke-100: var(--harakeke-100);
  --color-harakeke-150: var(--harakeke-150);
  --color-harakeke-200: var(--harakeke-200);
  --color-harakeke-250: var(--harakeke-250);
  --color-harakeke-300: var(--harakeke-300);
  --color-harakeke-350: var(--harakeke-350);
  --color-harakeke-400: var(--harakeke-400);
  --color-harakeke-450: var(--harakeke-450);
  --color-harakeke-500: var(--harakeke-500);
  --color-harakeke-550: var(--harakeke-550);
  --color-harakeke-600: var(--harakeke-600);
  --color-harakeke-650: var(--harakeke-650);
  --color-harakeke-700: var(--harakeke-700);
  --color-harakeke-750: var(--harakeke-750);
  --color-harakeke-800: var(--harakeke-800);
  --color-harakeke-850: var(--harakeke-850);
  --color-harakeke-900: var(--harakeke-900);
  --color-harakeke-950: var(--harakeke-950);
  --color-harakeke-1000: var(--harakeke-1000);
  --color-makara-50: var(--makara-50);
  --color-makara-100: var(--makara-100);
  --color-makara-150: var(--makara-150);
  --color-makara-200: var(--makara-200);
  --color-makara-250: var(--makara-250);
  --color-makara-300: var(--makara-300);
  --color-makara-350: var(--makara-350);
  --color-makara-400: var(--makara-400);
  --color-makara-450: var(--makara-450);
  --color-makara-500: var(--makara-500);
  --color-makara-550: var(--makara-550);
  --color-makara-600: var(--makara-600);
  --color-makara-650: var(--makara-650);
  --color-makara-700: var(--makara-700);
  --color-makara-750: var(--makara-750);
  --color-makara-800: var(--makara-800);
  --color-makara-850: var(--makara-850);
  --color-makara-900: var(--makara-900);
  --color-makara-950: var(--makara-950);
  --color-makara-1000: var(--makara-1000);
  --color-cecil-50: var(--cecil-50);
  --color-cecil-100: var(--cecil-100);
  --color-cecil-150: var(--cecil-150);
  --color-cecil-200: var(--cecil-200);
  --color-cecil-250: var(--cecil-250);
  --color-cecil-300: var(--cecil-300);
  --color-cecil-350: var(--cecil-350);
  --color-cecil-400: var(--cecil-400);
  --color-cecil-450: var(--cecil-450);
  --color-cecil-500: var(--cecil-500);
  --color-cecil-550: var(--cecil-550);
  --color-cecil-600: var(--cecil-600);
  --color-cecil-650: var(--cecil-650);
  --color-cecil-700: var(--cecil-700);
  --color-cecil-750: var(--cecil-750);
  --color-cecil-800: var(--cecil-800);
  --color-cecil-850: var(--cecil-850);
  --color-cecil-900: var(--cecil-900);
  --color-cecil-950: var(--cecil-950);
  --color-cecil-1000: var(--cecil-1000);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background font-sans text-foreground;
  }
  html {
    @apply font-sans;
  }
}

@layer components {
  .prose {
    @apply grid gap-4;

    * {
      text-box: trim-both text text;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply mt-[2em] leading-tight font-light text-balance;
    }

    h1 {
      @apply text-3xl;
    }
    h2 {
      @apply text-2xl;
    }
    h3 {
      @apply text-xl;
    }
    h4 {
      @apply text-lg;
    }
    h5 {
      @apply text-base;
    }
    h6 {
      @apply text-base;
    }

    ul {
      @apply grid list-disc gap-2 pl-[2ch];
    }
    ol {
      @apply grid list-decimal gap-2 pl-[2ch];
    }
  }

  .numbered-headings {
    counter-reset: h2 0 h3 0 h4 0;
    position: relative;

    h1 {
      counter-set: h2 0 h3 0 h4 0;
    }

    h2,
    h3,
    h4 {
      @apply flex gap-6;
    }

    h2 {
      counter-set: h3 0 h4 0;
    }

    h2::before {
      counter-increment: h2;
      content: counter(h2) '.0';
    }

    h3 {
      counter-set: h4 0;
    }

    h3::before {
      counter-increment: h3;
      content: counter(h2) '.' counter(h3);
    }

    h4::before {
      counter-increment: h4;
      content: counter(h2) '.' counter(h3) '.' counter(h4);
    }
  }
}

@layer utilities {
  .label {
    @apply text-xs font-normal tracking-wider uppercase;
    text-box: trim-both cap alphabetic;
  }

  .heading1 {
    @apply text-4xl font-light;
  }

  .heading2 {
    @apply text-lg font-light;
  }
}
